* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(30 30 30);
  color: rgb(230 230 230);
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  padding-bottom: 45vh;
  padding-bottom: 45svh;
  height: auto !important;
  font-size: 0.875rem;
  line-height: 1.4;
}

canvas {
  margin: 0 auto;
  display: block;
  image-rendering: pixelated;
  max-width: 100%;
  height: auto !important;
}

main {
  max-width: 26rem;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

a {
  color: rgb(110 130 250);
  text-decoration: none;
}

a:hover {
  color: rgb(150 170 250);
  text-decoration: underline;
  text-underline-offset: 2px;
}

p {
  color: rgb(150 150 150);
  margin-bottom: 0.5rem;
}
